#menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 28px;
  color: #333;
  cursor: pointer;
  display: none; // solo se muestra en móvil
  margin-left: auto;
}

.menu {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px;
    margin-top: 10px;
  }

  #menu-toggle:checked + .menu-icon + .menu {
    display: flex;
  }
}